#Cómo usar las variables en Python

**Variables**
* Las variables son contenedores para almacenar valores. 📦

---

**¿Por qué necesitamos variables en nuestro código?**
* Nos ayudan a:
  * Guardar datos
  * Asignar valores de una variable a otra
  * Representar valores en una expresión matemática
  * Generalizar un código

*En programación, una variable está formada por un espacio en el sistema de almacenaje (memoria principal de un ordenador) y un nombre simbólico (un identificador) que está asociado a dicho espacio.*

*Wikipedia*

![image.png]()

---
**Creando Variables**
* Python no tiene ningún comando para declarar una variable.
* Una variable se crea en el momento en que se le asigna un valor por primera vez.

In [ ]:
# Un comentario no se ejecuta. Es ignorado por el intérprete.
# Puedo tener tantos comentarios como sean necesarios.
var1 = 5
var2 = 3.5
var3 = "Hola"

# ¿Cómo puedo ver en consola el valor de una variable? - Usando la función print(~)
print(var1)
# Es posibile imprimir (visualizar) en consola varias variables usando solo una llamada a la función print(~)
print(var1,var2,var3,123,"11",True)

5
5 3.5 Hola 123 11 True

* Las variables no necesitan declararse con ningún tipo en particular, e incluso pueden cambiar de tipo una vez que se han establecido. *Esta características de Python se llama Tipado dinámico*

In [ ]:
var4 = 5
type(var4)

int

In [ ]:
var4 = 5.8
type(var4)

float

In [ ]:
var = 10
var_2 = 20

In [ ]:
suma = var + var_2
print(suma)

30

##Casting

* Si desea especificar el tipo de datos de una variable, puede hacerlo con una conversión (*cast*).

In [ ]:
var5 = "Hola, "
var6 = 11

# El operador + concatena (une) strings
#concatenacion = var5 + var6  # Error can only concatenate str (not "int") to str
concatenacion = var5 + str(var6) # str(var6) es un ejemplo casting

print(concatenacion)

Hola, 11

In [ ]:
var_6_str = str(var6)

In [ ]:
type(var_6_str)

str

In [ ]:
var5 = "Hola, "
var6 = "11"

# El operador + concatena (une) strings
concatenacion = var5 + var6

print(concatenacion)

Hola, 11

**Obtener el tipo**

* Puede obtener el tipo de datos de una variable con la función *type()*

In [ ]:
var7 = 3.5
type(var7)

float

**Cadenas de caractéres (strings)**

* Las variables de cadena se pueden declarar utilizando comillas simples o dobles

In [ ]:
var8 = "Hola"
var9 = 'Hola'

print("Variable declarada con comillas dobles -> ",type(var8))
print("Variable declarada con comillas simples -> ",type(var9))

Variable declarada con comillas dobles ->  <class 'str'>
Variable declarada con comillas simples ->  <class 'str'>

In [ ]:
print("Hola")

Hola

In [ ]:
print('\'Hola\'')
print("'Hola'")

'Hola'
'Hola'

In [ ]:
var = 5

var2float = float(var)

print(var2float)

5.0

* Los nombres de las variables distinguen entre mayúsculas y minúsculas.

In [ ]:
var10 = 5 # No es la misma que Var10
Var10 = 6 # No es la misma que var10
var11 = 6
sumaRes = var10+var11

print(Var10+var11)
print(sumaRes)

12
11

##Cómo nombrar una variable

Una variable puede tener un nombre corto (como *x* o *y*) o un nombre más descriptivo (edad, nombre_del_coche, volumen_total).

**Reglas para variables de Python:**

* El nombre de una variable debe comenzar con una letra o el carácter de subrayado (guión bajo, '_')
* El nombre de una variable no puede comenzar con un número
* El nombre de una variable solo puede contener caracteres alfanuméricos y guiones bajos (A-z, 0-9 y _)
* Los nombres de las variables distinguen entre mayúsculas y minúsculas (Edad, edad y la EDAD son tres variables diferentes)
* NOTA: No nombrar una variable con una palabra reservada.

In [ ]:
print = 3

In [ ]:
print(2)

TypeError: ignored

In [ ]:
_0var = 5
print(_0var)
0var = 2 #Nombre de Variable no válido

SyntaxError: ignored

* Python le permite asignar valores a múltiples variables en una línea.

In [ ]:
x,y,z = 3,2,1  # Es equivalente

In [ ]:
print(x)
print(y)
print(z)

3
2
1

In [ ]:
#x,y,z = 3,2,1  # Es equivalente
x = 1
y = 2
z = 3
print(x)
print(y)
print(z)

1
2
3

* O también puedes asignar el mismo valor a múltiples variables en una línea.

In [ ]:
x = y = z = 10
print(x)
print(y)
print(z)

10
10
10

##Tipos de datos estructurados

* Son contenedores de una o más variables
* Almaceno varios datos usando un solo identificador de variable (Nombre de la variable)
* Ejemplos de datos estructurados son: Listas, Tuplas

**Listas en Python**

* Son contenedores heterogéneos y mutables.
  -  Heterogéneo => Puede almacenar disitintos tipos de datos
 -  Mutable => Puede cambiar de elementos
* Se definen con corchetes [ ]

In [ ]:
#Lista vacia
lista0 = []
print(lista0, type(lista0))

[] <class 'list'>

In [ ]:
lista = [1,3.5,"Hola"]
type(lista)

list

![image.png]()

In [ ]:
# Datos personales
nombre = "Alan"
nacionalidad = "Mexicana"
edad = 33
             #idx=0   #idx=1    #idx=2
usuario_1 = ["Alan", "Mexicana", 33]

* Para acceder a un elemento de la lista usamos el identificador de la variable seguido del índice entre corchetes de la posición a la que queremos acceder

In [ ]:
lista = [1,3.5,"Hola"]
print(lista[0]) # Accediendo al elemento uno con índice 0
print(lista[2]) # Accediendo al elemento tres con índice 2

1
Hola

In [ ]:
elem0 = lista[0]
print(elem0)

1

In [ ]:
         #0  1  2   3       4
lista2 = [1, 2, 8, 5.5, ["a","b"]]

var12 = lista2[4]
print(var12)
var13 = var12[1]
print(var13, lista2[4][0])

#Quiero que el output sea "b"
#print(var13)

# Output = > b
#print(lista2[4][1])

# output => 8
#print(lista2[2])

['a', 'b']
b a

In [ ]:
lista2 = [1,2,["a","b"],5.5]

#var12 = lista2[2]
var13 = lista2[2][1]

print(var13)
#Quiero que el output sea "b"

b

Las listas son mutables

In [ ]:
        #0  1     2
lista = [1,3.5,"Hola"]
print(lista)
lista[2] = 8
print(lista)

[1, 3.5, 'Hola']
[1, 3.5, 8]

**Tuplas en Python**

* Son contenedores heterogéneos y inmutables.
  -  Heterogéneo => Puede almacenar disitintos tipos de datos
 -  Inmutable => No puede cambiar de elementos
* Se definen con paréntesis ( )

In [ ]:
tupla = ("Hola",1,1.5)
type(tupla)

tuple

* Accedemos a los elementos de una tupla de forma similar que con una lista

In [ ]:
#          0    1  2
tupla = ("Hola",1,1.5)
print(tupla[0])

Hola

In [ ]:
tupla = ("Hola",1,1.5)
print(tupla)

tupla[1] = 3 # Este error se debe a que las tuplas son inmutables
print(tupla)

('Hola', 1, 1.5)

TypeError: 'tuple' object does not support item assignment

In [ ]:
tupla = 12
print(tupla)

12

**Indexación negativa**

* significa comenzar a contar desde el final.
* -1 se refiere al último elemento.
* -2 se refiere al penúltimo elemento, etc.

In [ ]:
  #     -5 -4 -3 -2 -1
  # idx  0  1  2  3  4
lista = [1, 2, 3, 4, 5]
tupla = ('a','b','c','d','f')

# Indexación "normal"
print(lista[3])
print(tupla[1])

# Indexación negativa  4 y b
print(lista[-2])
print(tupla[-4])
print(tupla)

4
b
4
b
('a', 'b', 'c', 'd', 'f')

In [ ]:
lista = [1,2,3,4,5]
tupla = ('a','b','c','d','f')
tupla = (a,b,c,d,f) # Error de sintaxis las variables no están definidas

# Indexación "normal"
print(lista[0])
print(tupla[0])

# Indexación negativa
print(lista[-5])
print(tupla[-5])

NameError: name 'a' is not defined

In [ ]:
a=b=c=d=f = 0
lista = [1,2,3,4,5]
tupla = ('a','b','c','d','f')
tupla = (a,b,c,d,f) # Error de sintaxis las variables no están definidas

# Indexación "normal"
print(lista[0])
print(tupla[0])

# Indexación negativa
print(lista[-5])
print(tupla[-5])
print(tupla)

1
0
1
0
(0, 0, 0, 0, 0)

In [ ]:
lista = [1,2,3,4,5]
tupla = ('a','b','c','d','f')
a = 'a'
b = 'b'
c = 'c'
d = 'd'
f = 'f'
tupla = (a,b,c,d,f)

# Indexación "normal"
print(lista[0], type(lista[0]))
print(tupla[0], type(tupla[0]))

# Indexación negativa
print(lista[-5])
print(tupla[-5])

1 <class 'int'>
a <class 'str'>
1
a

**Rango de índices**
* Puedes seleccionar un rango de índices especificando dónde comenzar y dónde terminar el rango.
* Al especificar un rango, el valor de retorno será una nueva lista/tupla con los elementos especificados.

In [ ]:
  #      -5  -4  -3  -2  -1
  # idx   0   1   2   3   4
lista = [ 1,  2,  3,  4,  5]
tupla = ('a','b','c','d','f')

# Indexación por rango
print(lista[0:-2])  #  0:-2   =>  inclusive [0,2) no inclusive
print(tupla[:3])    #   :3    =>  inclusive[0,3) no inclusive

print(lista[3:])

[1, 2, 3]
('a', 'b', 'c')
[4, 5]

In [ ]:
      #  0  1  2  3  4
lista = [1, 2, 3, 4, 5]
tupla = ('a','b','c','d','f')

subLista = lista[2:5]
# Indexación por rango
print(lista, type(lista))
print(subLista, type(subLista))

[1, 2, 3, 4, 5] <class 'list'>
[3, 4, 5] <class 'list'>

Para determinar cuántos elementos tiene una lista o tupla, puedes usar la función len()

In [ ]:
# Función  input            => [?] => output
#  print   var, str, num    => [?] => imprime en consola el input
#  type    var, str, num    => [?] => el tipo de dato del input
#  len     var estructurado => [?] => la longitud (num de elementos) del input

print(len(lista))
print(len(tupla))


var = 5.3
print(len("hola"))

5
5
4

In [ ]:
a = -3
print(type(a))

a.imag

<class 'int'>

0

In [ ]:
a.numerator

-3

In [ ]:
# Inmutable significa que NO SE PUEDE USAR EL operador de asignación '=' para un elemento que ya existe
# en la tupla, no se puede asignar un elemento
tupla = (1,2,3,1)
tupla = (3,2.1,54)

Las listas, tuplas y otros tipos de datos estructurados tienen ciertas funciones que podemos usar directamente para realizar varias tareas.

* Ejemplo: lista.append(~)

In [ ]:
lista = [1,3]
print(lista)

lista.append(25)
print(lista)

lista.clear()
print(lista)

[1, 3]
[1, 3, 25]
[]

## Operadores

* Los operadores se utilizan para realizar operaciones sobre variables y valores.

* Python divide los operadores en los siguientes grupos:
  - Operadores aritméticos
    - +,  -,  *, / , * *, //
  - Operadores de Asignación
    - =, +=, -=, *=, /=
  - Operadores de comparación
    - ==, !=, <, >, <=, >=
  - Operadores lógicos
   - and, or, not
  - Operadores de identidad
  - Operadores de membresía
  - Operadores bit a bit

In [ ]:
var1 = 103
var2 = 25

suma = var1 + var2
resta = var1 - var2
multiplicacion = var1 * var2
division = var1 / var2
divisonTruncada = var1//var2
potencia = var1**3 # var2 elevado al cuadrado

print(suma, resta, multiplicacion, division, divisonTruncada, potencia)

128 78 2575 4.12 4 1092727

In [ ]:
lista = [1,2]
listaExtendida = lista*5 # Sobrecarga de operadores
print(listaExtendida)

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

**Operaciones de asignación**

In [ ]:
var = 5
print(var)

5

In [ ]:
var = 8

var += 2 # Equivalente var = var + 2
print(var)

10

**Operadores de comparación y Entrada por teclado**

In [ ]:
8=5

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-58-cddf0d973139>, line 1)

In [ ]:
var1 = 5
var2 = 8

print(var1==var2) # Es 8 igual a 5 ?

print(var1 < var2)

False
True

In [ ]:
# Operador *=

var = 1
var = var * 5 # Equivalente a var *= 5
print(var)

5

In [ ]:
# Entrada por teclado
var = input("Ingresa un número: ")
#var = float(var)

Ingresa un número:

In [ ]:
print(type(var))

<class 'str'>

In [ ]:
print(var, type(var))

8.0 <class 'float'>

#Ejercicios

1. Escribe un programa que lea 2 números por teclado y determine si:

- Los dos números son iguales
- Los dos números son diferentes
- El primero es mayor que el segundo
- El segundo es mayor o igual que el primero

In [1]:
num1 = input()
num2 = input()
val1 = (int(num1) > int(num2))

if val1:
 print("num1 mayor que num 2")
else:
 print("num1 menor que num 2")

num1 menor que num 2

2. Usa operadores lógicos para validar si una cadena de texto introducida por teclado tiene una longitud mayor o igual que 3 y *al mismo tiempo* es menor que 10.

In [13]:
num = input()
if len(num) >= 3 and len(num)< 10:  
 print("la longitud del string esta entre 3 y 10")
else:

 print("la longitud del string no esta entre 3 y 10")

la longitud del string no esta entre 3 y 10

3. Implementa el siguiente algoritmo. Recuerda usar operadores de asignación cuando sea posible:

- Guardar en una variable *numero_magico* el valor 12345679 (sin el 8)
- Leer por teclado otro *numero_usuario*, especifica que sea entre 1 y 9
- Multiplicar el *numero_usuario* por 9 y almacena el resultado en la misma variable
- Multiplica el *numero_magico* por el *numero_usuario* y almacena el resultado en la misma variable, *numero_magico*
- Mostrar el valor final en *numero_magico* en la consola

In [16]:
num_magico = 12345679
num2 = input("Introduce un numero entre 1-9")
num2 = num_magico * 9 
num_magico = num2 * num_magico
print(num_magico)

1371742109739369

4. Variables

 1. Declara tres variables llamadas `a`, `b`, y `c` e inicialízalas con valores numéricos.
 2. Realiza las siguientes operaciones y almacena los resultados en nuevas variables:
    - Suma `a` y `b`, guarda el resultado en una variable llamada `suma_resultado`.
    - Resta `c` de `a`, guarda el resultado en una variable llamada `resta_resultado`.
    - Multiplica `b` por `c`, guarda el resultado en una variable llamada `multiplicacion_resultado`.
 3. Imprime los resultados de cada operación de la siguiente manera:
    - "La suma de a y b es: [resultado suma]"
    - "La resta de a y c es: [resultado resta]"
    - "El resultado de multiplicar b por c es: [resultado multiplicación]"

In [18]:
a, b, c = 3,4,1
suma_resultado = a + b
resta_resultado = c - a
multiplicacion_resultado = b * c
print("la suma de los resultados es: ", suma_resultado)
print("la resta de los resultados es: ", resta_resultado)
print("la multiplicacion de los resultados es: ", multiplicacion_resultado)

la suma de los resultados es:  7
la resta de los resultados es:  -2
la multiplicacion de los resultados es:  4

5. Selecciona qué nombres de variables son inválidos, y especifíca el porqué, y corrige el nombre de la variable:
```python
my var = "John" #tiene espacio
myvar = 23 #correcto
my_var = "str" # correcto
2myvar = 3.25 # empieza con numero
_my_var = (1,3,2) #correcto
myVar = 48 #correcto
MYVAR = "cadena" #correcto
my-var = [1,5] #tiene "-"
myvar2 = [] #correcto
```

6. Corrige el nombre de esta variable:
```python
2my-first_name = "John"
```

In [17]:
my_first_name = "John"